/* Global Styles */
:root {
    --Bright_blue: hsl(245, 75%, 52%);
    --bg_blue: hsl(225deg 100% 94%);
    --Pale_blue: hsl(225, 100%, 98%);
    --Desaturated_blue: hsl(224, 23%, 55%);
    --Dark_blue: hsl(223, 47%, 23%);
    --gray: hsl(228deg 9% 69%);
    --white: hsl(0, 0%, 100%);
    --blue: #0000FF;
    --font-family: 'Red Hat Display', sans-serif;
}

body {
    margin: 1em 0;
    padding: 30px 50px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    text-align: center;
    background: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bg_blue);
}

main {
    margin: auto;
    max-width: 400px;
    height: 610px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 5px 8px 40px -2px rgba(189,189,189,1);
}

/* Header Section */
header img {
    width: 100%;
    position: relative;
    object-fit: fill;
    transition: transform 2s;
}

header img:hover {
    transform: scale(1.1);
}
/* Content Section */
.content {
    padding: 0 50px;
}

.content p {
    color: var(--gray);
}

.annual-plan {
    display: flex;
    background-color: var(--Pale_blue);
    align-items: center;
    margin: 20px 50px;
    border-radius: 15px;

}

.annual-plan img {
    position: relative;
    overflow: hidden;
    padding: 1px 10px;
}

.annual-plan img:hover {
    animation: rotation infinite;
    animation-duration: 1s;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.annual-text {
    padding: 0.5px 10px;
    text-align: left;
}

a {
    color: var(--Bright_blue);
    font-weight: bold;
    padding: 20px;
}

a:hover {
    color: var(--blue);
}

button {
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:13px 80px;
    margin: 0 0 10px 0;
    border: none;
    font-weight: bold;
    box-shadow: 0px 5px 19px 1px rgba(41,22,41,0.42);
}

.button:hover {
    background-color: var(--Bright_blue);
}

#proceed {
    background-color: var(--Bright_blue);
    transition: transform 0.5s;
}

#proceed:hover {
    transform: scale(1.1);
}

#cancel {
    color: var(--Desaturated_blue);
    font-weight: bold;
    background-color: transparent;
    box-shadow: none;
    transition: transform 0.5s;
}

#cancel:hover {
    transform: scale(1.05);
}


/* Footer Section */
footer {
    padding: 5px 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}